<ion-item-sliding #slidingItem class="custom-sliding">
  <ion-item class="task-card-item" lines="none" (click)="taskClick.emit(task.id)">
    <article class="task-card-content" [class.is-completed]="task.completed">
      
      <header class="task-header">
        <hgroup class="title-and-category">
          <h3>{{ task.title }}</h3>
          <span class="category-oval" [ngStyle]="{'background-color': getCategoryColor(task.category)}">
            {{ task.category }}
          </span>
        </hgroup>
        <ion-badge [color]="getPriorityColor(task.priority)">
          {{ task.priority }}
        </ion-badge>
      </header>

      <footer class="task-footer">
        <small>Límite: {{ task.deadline | date:'dd/MM/yyyy' }}</small>
      </footer>

    </article>
  </ion-item>
  
  <ion-item-options side="end">
    <ion-item-option (click)="toggleComplete.emit({id: task.id, slidingItem: slidingItem})" [color]="task.completed ? 'medium' : 'success'">
      <ion-icon slot="icon-only" [name]="task.completed ? 'close-circle-outline' : 'checkmark-circle-outline'"></ion-icon>
    </ion-item-option>
    
    <ion-item-option color="danger" (click)="delete.emit({id: task.id, slidingItem: slidingItem})">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>
