ion-content {
  --background: #fdf8ee;
}

.list-container {
  padding: 1rem;
}

ion-list {
  background: transparent;
  padding: 0;
  margin: 0;
}

.empty-state {
  text-align: center;
  padding: 3rem 0;
  color: var(--ion-color-medium);
  font-size: 1.1rem;
}

/* ESTILOS DEL BOTÓN FAB */
.custom-fab {
  --background: #efc581; 
  --background-hover: #efc581;
  --color: #333333; 
  width: 46px;  
  height: 46px;
  margin-bottom: 10px; 
  margin-right: 10px;  
}