<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tareas</ion-title>

    <!--Botón de filtros que despliega todas las opciones-->
    <ion-buttons slot="end">
      <ion-button (click)="toggleFilters()" [color]="showFilters() ? 'primary' : 'medium'">
        <ion-icon slot="start" name="filter-outline"></ion-icon>
        Filtros
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  @if (showFilters()) {
    <ion-toolbar>
      <app-task-filters
        [status]="statusFilter()"
        [priority]="priorityFilter()"
        [category]="categoryFilter()"
        [sort]="dateSort()"
        (statusChange)="changeStatusFilter($event)"
        (priorityChange)="changePriorityFilter($event)"
        (categoryChange)="changeCategoryFilter($event)"
        (sortChange)="changeDateSort($event)"
        (clear)="clearFilters()">
      </app-task-filters>
    </ion-toolbar>
  }
</ion-header>

<ion-content [fullscreen]="true">
  <main class="list-container">
    <section class="tasks-section">
      <ion-list lines="none">
        
        <!--cada una de las tasks que hayan en el array-->
        @for (task of filteredTasks(); track task.id) {
          <app-task-card 
            [task]="task"
            (taskClick)="navigateToTaskDetail($event)"
            (toggleComplete)="toggleTaskCompletion($event)"
            (delete)="confirmDeleteTask($event)">
          </app-task-card>
        <!--Si no hay ninguna sale este mensaje-->
        } @empty {
          <section class="empty-state">
            <p>No tienes tareas</p>
          </section>
        }

      </ion-list>
    </section>
  </main>

  <!--botón de crear una nueva tarea (formulario)-->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="navigateToCreateTask()" class="custom-fab">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>